<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>FDT Robot Advisor</title>
    <meta charset="utf-8">
    <meta name="description" content="智能投顧,智能投資,人工智能,金融大數據,投資機械人,robot advisor,智能投顾,智能投资,人工智能,金融大数据,投资机器人"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'> -->

    <link href="css/minislide/flexslider.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    

</head>
<body>
<% include nav %>
<!-- <div class="about2-top-img">
  <div class="effect-about2-over"></div><div id="particles-js"></div>
    <div class="container">
      <div class="col-lg-12">
       
       <h1 class="about2-top-title"> <span class="color-txt">歡迎進入智能投資顧問</span> </h1>
      </div>
    </div> 
</div> -->
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li style="margin-top: 20px;">
                        <a href="index.html">首頁</a>
                    </li>
                    <li class="active">智能投資顧問</li>
                    <li class="active">評測結果</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container about-pg-2">
    <div class="row">

        <div class="col-md-12 det-info-prod">

             <h1 style="text-align:center">您的投資風險取向為：<span style="color : #1ab394"><%=level%></span></h1>
             <p style="color : #1ab394; margin-bottom: 20px;text-align:center"><%=levelDesc%></p>  
             <!-- <div id="resultPie" style="height: 400px"></div> -->
             <div id="janusPie" style="height: 500px"></div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="text-align:center">
            <a style="padding: 20px 40px;color: white; font-size: 20px;
                " target="_blank"  type="button" class=" btn btn-danger" >
                       <span >一鍵下單</span> 
                       
                    </a>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <!-- <div class="col-lg-12"> -->
            <h2 class="page-header-title"><span>精選基金，智能排序</span></h2>
        <!-- </div> -->
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th title="">基金名字</th>
                    <!-- <th>基金種類</th> -->
                    <th title="算術平均回報是基金每月回報的算術平均值，並用於計算基金回報的標準差。回報（算術平均）並不完全等同於基金三年年度化回報。">平均月回報率</th>
                    <th title="波動率統計一組數值自平均值分散的程度，描術基金回報在特定時間內的變動。投資者可利用基金歷來回報的波動率來預測基金將來最有可能的回報範圍。基金的波動率愈大，其預期回報範圍就愈廣，也意味基金的波動性愈高。">波動率</th>
                    <th title="夏普比率的計算方法為將基金過去36個月的年度化回報減去無風險利率，再除以年度化標準差。">夏普比率</th>
                    <th title="Alpha系數，是反映基金的實際收益，相較根據啤打(Beta)系數計算的預期收益的差距。亞爾法系數有時亦用作顯示基金經理為基金增值的幅度。如基金的實際收益率高於啤打系數所預期的收益，基金的亞爾法系數會是正數。否則，若啤打系數的預測較實際收益高，基金的亞爾法系數就會是負數。">Alpha</th>
                    <th title="Beta系數是一套量度相對風險標準，旨在將個別基金的整體波幅與指標指數比較。基金的Beta系數越高，基金相對指標的波幅就越大。如基金的Beta系數為1.0以上，即表示基金的波幅較指標為大，相反，若Beta系數為1.0以下，則表示基金的波幅較指標為小">Beta</th>
                    <th title="把每項至少有三年表現的基金歸類，以其作風險和費用調整後的表現跟同組別的基金比較。">評級</th>
                    <th title="基於人工智能的個性化推薦方法，把最合適的產品推薦給最合適的用戶。">綜合分數</th>
                    <th title="基於人工智能的個性化推薦方法，把最合適的產品推薦給最合適的用戶。">FDTScore智能排序</th>
                    
                   
                </tr>
            </thead>
            
            <tbody>
            <%
            var max = 0;
            for(var i in scores) {
                if(janusWeight.hasOwnProperty(scores[i].symbol)) {
                    var score = (janusWeight[scores[i].symbol]*0.7+0.8)*scores[i].score_gbr
                    if(score > max)
                        max = score
                }
            }

            for(var i in scores) { if(scores[i].star && janusWeight.hasOwnProperty(scores[i].symbol)) {%>
                <tr>
                    <td><a href="http://www.hk.morningstar.com/ap/quicktake/risk.aspx?PerformanceId=<%=scores[i].symbol%>&activetab=MorningstarRisk"><%=scores[i].fund_name%></a></td>
                    <!-- <td><%=scores[i].type%></td> -->
                    <td><%=scores[i].return%></td>
                    <td><%=scores[i].volatility%></td>
                    <td><%=scores[i].sharpe_ratio%></td>
                    <td><%=scores[i].alpha%></td>
                    <td><%=scores[i].beta%></td>
                    <td><%=scores[i].star%></td>
                    <td><%=Math.round(scores[i].score_gbr)%></td>
                    <td><%=Math.round((janusWeight[scores[i].symbol]*0.4+0.8)*scores[i].score_gbr*(92/max))%></td>

                </tr>
            <%}}%>
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-bottom:50px;">
        <div class="col-lg-12">
            <h2 class="page-header-title"><span>太難選？直接點擊查看預選優化組合</span></h2>
        </div>
        <div class="col-lg-4  pf-btn" style="text-align:center" data-type="2">
            <a style="padding: 20px 50px;color: white; font-size: 25px;
                " target="_blank"  type="button" class="btn btn-success" >
                       <span class="pf_desc">保本型</span>
                       <br>
                       <span style="font-size: 12px">年回報率：4%</span>
                    </a>
        </div>
        <div class="col-lg-4  pf-btn" style="text-align:center" data-type="5">
            <a style="padding: 20px 50px;color: white; font-size: 25px;
                " target="_blank"  type="button" class=" btn btn-primary" >
                       <span class="pf_desc">平衡型</span> 
                       <br>
                       <span style="font-size: 12px">年回報率：8%</span>
                    </a>
        </div>
        <div class="col-lg-4  pf-btn" style="text-align:center" data-type="10">
            <a style="padding: 20px 50px;color: white; font-size: 25px;
                " target="_blank"  type="button" class=" btn btn-info" >
                           <span class="pf_desc">成長型 </span>
                           <br>
                           <span style="font-size: 12px">年回報率：12%</span>
                        </a>
        </div>
        <!-- <div class="col-lg-3" style="text-align:center">
        <a style="padding: 20px 50px;color: white; font-size: 25px;
" target="_blank" href="＃" type="button" class=" btn btn-danger" >
                        激進型 
                       <br>
                       <span style="font-size: 12px">年回報率：16%</span>
                    </a>
        </div> -->
    </div>
    <div class="row">

        <div class="col-md-12 det-info-prod">

             <h1 style="text-align:center"><span id="defaultType" style="color : #1ab394"></span></h1>
             <!-- <p style="color : #1ab394; margin-bottom: 20px;text-align:center"><%=levelDesc%></p>   -->
             <!-- <div id="resultPie" style="height: 400px"></div> -->
             <div id="defaultPie" style="height: 500px"></div>
        </div>
    </div>
</div>
<% include footer %>    

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/owl_carousel/owl.carousel.min.js" type="text/javascript"></script>
<!--Mini Flexslide-->
<script src="js/minislide/jquery.flexslider.js" type="text/javascript"></script>

<script src="js/minislide/shCore.js" type="text/javascript"></script>
<script src="js/minislide/shBrushXml.js" type="text/javascript"></script>
<script src="js/minislide/shBrushJScript.js" type="text/javascript"></script>

<script src="js/script.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>

<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    var pf = <%-total%> , data = [], janusProducts =[] , map = <%-advisorMap%>,  janusNames = <%-janusName%>
    for(var i in pf) {
        data.push([map[i], pf[i]])
    }
    var janus = <%-janus%>
    for(var i in janus) {
        if(janus[i] > 0)
            janusProducts.push([janusNames[i], janus[i]])
    }
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });
    $('#resultPie').highcharts({
      //   colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
      // "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: '智能顧問建議您的投資组合'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }

            }
        },
        credits: {
            enabled: false
        },
        series: [{
            type: 'pie',
             name: '比例',
            data: data
            
        }]
    });

    $('#janusPie').highcharts({
         colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
       "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: '駿利Janus產品投資组合'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }

            }
        },
        credits: {
            enabled: false
        },
        series: [{
            type: 'pie',
            name: '比例',
            data: janusProducts
            
        }]
    });
    $(document).ready(function() {
        $('#example').DataTable({
            // bFilter: false, 
            // bInfo: false,
            "order": [[ 8, "desc" ]]
        } );
        var defaultPf = {
            janus_2 : <%-janus_2%>,
            janus_5 : <%-janus_5%>,
            janus_10 : <%-janus_10%>
        }
        $(".pf-btn").click(function() {
            $("#defaultType").text($(this).find(".pf_desc").text()+"組合如下")
            $(this).find("a").removeClass("pf_unselected");
            $(this).find("a").addClass("pf_seleceted");
            $(this).siblings().find("a").removeClass("pf_seleceted");
            $(this).siblings().find("a").addClass("pf_unselected");
            var dataWt = defaultPf["janus_" + $(this).data("type")]
            var dataDefault = []
            for(var i in dataWt) {
                if(dataWt[i] > 0)
                    dataDefault.push([janusNames[i], dataWt[i]])
            }
            $('#defaultPie').highcharts({
                 colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
               "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: '駿利Janus產品投資组合'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 35,
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            },
                            connectorColor: 'silver'
                        }

                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    type: 'pie',
                    name: '比例',
                    data: dataDefault
                    
                }]
            });
        })
    } );

</script>
</body>
</html>